{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
   

  </head>
<body>
  <h1 id="prvi-h1">Recepti</h1>
  
<!-- znaci dodati dugme koje salje na admin stranicu ako si prijavljen ko admin -->
<!-- dugme koje vodi na pretragu recepata -->
<!-- dugme koje vodi na preporuku recepata po sastojcima -->
<!-- dugmad za sve ono osatlo prijava registracija kontakt tako to -->
<!-- prikazat nekolko najpopularnijih recepata, a ja to te recepte random dodat -->
<h1>Dobrodosao {{user.name}} {{user.surname}}</h1>



<div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="hamburger-checkbox">
    
    <div class="hamburger-icon">
      <label for="openmenu" id="hamburger-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>    
    </div>
  
      <div class="menu-pane">
        
        <nav>
          <ul class="menu-links">


            </span>
              
            </li>
            
            <li><a href="/admin/">ADMIN</a>
             
            </li>
            <li><a href="registration">REGISTRATION</a></li>
            <li><a href="login">LOGIN</a></li>
          </ul>
           <ul class="menu-links">
                      
                         <span id="DC-info">
           
            </span></li>
  
            <li><a href="/logout">LOGOUT</a></li>
            <li><a href="/pretraga_recepata">Pretrazi sve recepte</a></li>
            <li><a href="/preporuka_recepta">Preporuka recepta</a></li>
          </ul>
          
          
        </nav>
      </div>



      <h2>Najpopularniji recepti:</h2>
      <ul class="recepti-container">
        {% for recept in popularni_recepti %}
        <li class="recept-item">
          <div class="recept-image">
            <img src="{{ recept.slika.url }}" alt="{{ recept.naziv }}">
          </div>
          <div class="recept-info">
            <h3>{{recept.naziv}}</h3>
            <p>{{recept.opis}}</p>
            <h4>Sastojci:</h4>
            <ul class="sastojci-list">
              {% for sastojak in recept.sastojci.all %}
              <li>{{sastojak.naziv}}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
      <h2>Sastojci:</h2>
      <ul class="sastojci-container">
        {% for sastojak in sastojci %}
        <li class="sastojci-item">{{sastojak.naziv}}</li>
        {% endfor %}
      </ul>


    <!-- slider section -->
    <section class="slider_section ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="detail-box">
              <h1>
                Discover Restuarant And Food
              </h1>
              <p>
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
            <div class="find_container ">
              <div class="container">
                <div class="row">
                  <div class="col">
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider_container">
        <div class="item">
          <div class="img-box">
            <img src="{% static 'images/slider-img1.png' %}" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="{% static 'images/slider-img2.png' %}" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="images/slider-img3.png" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="images/slider-img4.png" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="images/slider-img1.png" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="images/slider-img2.png" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="images/slider-img3.png" alt="" />
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="images/slider-img4.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

    


      <div class="footer_container">
        <!-- info section -->
        <section class="info_section ">
          <div class="container">
            <div class="contact_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </div>
            <div class="info_links">
              <ul>
                <li class="active">
                  <a href="index.html">
                    Pocetna
                  </a>
                </li>
                <li>
                  <a href="about.html">
                    O nama
                  </a>
                </li>
                <li>
                  <a class="" href="blog.html">
                    Blog
                  </a>
                </li>
                <li>
                  <a class="" href="testimonial.html">
                    Izjava
                  </a>
                </li>
              </ul>
            </div>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </section>
        <!-- end info_section -->
    
    
        <!-- footer section -->
        <footer class="footer_section">
          <div class="container">
            <p>
              &copy; <span id="displayYear"></span> Sva prava pridržava
              <a href="https://html.design/">Belmin i Ernes</a><br>
              Distribuirao: <a href="https://themewagon.com/">Certigon</a>
            </p>
          </div>
        </footer>
        <!-- footer section -->    
</body>
</html>