{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'index_style.css' %}">
</head>
<body>
<!-- znaci dodati dugme koje salje na admin stranicu ako si prijavljen ko admin -->
<!-- dugme koje vodi na pretragu recepata -->
<!-- dugme koje vodi na preporuku recepata po sastojcima -->
<!-- dugmad za sve ono osatlo prijava registracija kontakt tako to -->
<!-- prikazat nekolko najpopularnijih recepata, a ja to te recepte random dodat -->
<h1>Dobrodosao {{user.name}} {{user.surname}}</h1>



<div class="menu-container">
  
    <input type="checkbox" id="openmenu" class="hamburger-checkbox">
    
    <div class="hamburger-icon">
      <label for="openmenu" id="hamburger-label">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>    
    </div>
  
      <div class="menu-pane">
        
        <nav>
          <ul class="menu-links">
           
         
            </span>
              
            </li>
            
            <li><a href="/admin/">ADMIN</a>
             
            </li>
            <li><a href="registration">REGISTRATION</a></li>
            <li><a href="login">LOGIN</a></li>
          </ul>
           <ul class="menu-links">
                      
                         <span id="DC-info">
           
            </span></li>
  
            <li><a href="/logout">LOGOUT</a></li>
            <li><a href="/pretraga_recepata">Pretrazi sve recepte</a></li>
            <li><a href="/preporuka_recepta">Preporuka recepta</a></li>
          </ul>
          
          
        </nav>
      </div>



      <h2>Najpopularniji recepti:</h2>
      <ul class="recepti-container">
        {% for recept in popularni_recepti %}
        <li class="recept-item">
          <div class="recept-image">
            <img src="{{ recept.slika.url }}" alt="{{ recept.naziv }}">
          </div>
          <div class="recept-info">
            <h3>{{recept.naziv}}</h3>
            <p>{{recept.opis}}</p>
            <h4>Sastojci:</h4>
            <ul class="sastojci-list">
              {% for sastojak in recept.sastojci.all %}
              <li>{{sastojak.naziv}}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
      <h2>Sastojci:</h2>
      <ul class="sastojci-container">
        {% for sastojak in sastojci %}
        <li class="sastojci-item">{{sastojak.naziv}}</li>
        {% endfor %}
      </ul>
</body>
</html>