{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'recept_prikazi_style.css' %}">
  <title>Recipe Page</title>
</head>

<body>
  <div class="recipe-container">
    <div class="recipe-image">
      <img src="{{ recept.slika.url }}" alt="{{ recept.naziv }}">
    </div>
    <div class="recipe-info">
      <h2>{{ recept.naziv }}</h2>
      <p>{{ recept.opis }}</p>
      <h3>Sastojci:</h3>
      <ul>
        {% for sastojak in recept.sastojci.all %}
        <li>{{ sastojak.naziv }}</li>
        {% endfor %}
      </ul>
      <h3>Upute:</h3>
      <p>{{ recept.uputa }}</p>
      <h3>Vrijeme pripreme:</h3>
      <p>{{ recept.vrijeme_pripreme }}</p>
    </div>
  </div>

 <div class="comments-section">
    <h2>Komentari</h2>
   {% for komentar in komentari %}

    <div class="comment">
        <div class="user-info">
            <img class="user-icon" src="{% static 'slike/user_icon.png' %}" alt="User Icon">
            <span class="user-name">{{ komentar.user.name }} {{komentar.user.surname}}</span>
        </div>

         {% if user.is_authenticated and user == komentar.user %}

        <div class="comment-actions">
            <form action="{% url 'edit_komentar' komentar.id %}" method="POST">
                {% csrf_token %}
                <div class="edit-comment-section">
                <textarea class="edit-comment-input" name="new_text" rows="3">{{ komentar.tekst }}</textarea>
                <button class="edit-btn" type="submit">Edit</button>
            </div>
            </form>
            <form action="{% url 'izbrisi_komentar' komentar.id %}" method="POST">
                {% csrf_token %}
                <button class="delete-btn" type="submit">Delete</button>
            </form>
        </div>
        {% else %}
        <p>{{ komentar.tekst }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
    <form action="" method="POST">
      {% csrf_token %}
      <label for="message">Vaš komentar:</label>
      <textarea id="message" name="komentar" rows="6" required></textarea>
      <button type="submit">Pošalji</button>
    </form>
  </div>
</body>

</html>
