{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Registracija</title>
	  <link rel="stylesheet" href="{% static 'registration_style.css' %}">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/234/234618.png">
  </head>
  <body>
    <h1 class="centered">Registracija</h1>
 
    <form action="registration" method="POST">
      {% csrf_token %}
        <label>Unesite ime: <input type="text" name="name" required /></label>
        <label>Unesite prezime: <input type="text" name="surname" required /></label>
        <label>Unesite vas  Email: <input type="email" name="email" required /></label>
        <label>Unesite sifru: <input type="password" name="password"  required /></label>
        <label>Potvrdite sifru: <input type="password" name="confirm_password"  required /></label>
        <label>Unesite korisnicko ime/username: <input type="text" name="username" required /></label>

      <input type="submit" value="Potvrdi" />
    </form>
  </body>
</html>